remi:
  # URL to the remi RPM to install
  rpm: default varies with OS; see remi/init.sls

  # URL to the remi GPG key
  pubkey: default varies with OS; see remi/init.sls
  pubkey_hash: default varies with OS; see remi/init.sls

  # Disable repo so requires the --enablerepo flag to use
  # Maintained for compatibility purpose
  disabled: True

  # enable modules on RHEL 8+
  modules:
    php:
      reset: True
      version: 8.1

  # Variable for all the remi repos (remi-php70, remi-php71, remi and so on)
  repo:
    remi:
      disabled: True
    remi-php70:
      disabled: False
